{% extends "base.html" %}

{% block content %}

<div class="container" style="max-width:900px;">

<div class="mb-4">

<h2 class="fw-semibold mb-0">Priorities</h2>
<p class="text-muted">Manage task priorities.</p>

</div>


<!-- SEARCH -->

<div class="card shadow-sm p-3 mb-4">

<form method="GET"
class="d-flex justify-content-center align-items-center gap-3">

<input type="text"
name="search"
class="form-control"
style="max-width:400px;"
placeholder="Search priority..."
value="{{ request.GET.search }}">

<button class="btn btn-primary px-4">
Apply
</button>

</form>

</div>



<!-- TABLE -->

<div class="card shadow-sm">

<table class="table align-middle mb-0">

<thead class="table-dark">

<tr>
<th>Priority Name</th>
</tr>

</thead>

<tbody>

{% for priority in priorities %}

<tr>
<td class="fw-semibold">
{{ priority.name }}
</td>
</tr>

{% empty %}

<tr>
<td class="text-center text-muted">
No priorities found
</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}